# This file intentionally left empty
# It is used to override any automatic submodule detection by Git
# Deployment issues were previously caused by directories being mistakenly treated as submodules
